Language: Cpp
BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 80
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
Naming:
  StructCase: camelCase
  UnionCase: camelCase
  FunctionCase: PascalCase
  MacroCase: UPPER_CASE

